---
---

<header>
	<nav>
		<a rel="prefetch" href="/">
			<img src="/logo.svg" alt="" width="28" height="28" />
			Tech Flow.
		</a>
		<ul>
			<li><a rel="prefetch" href="/">Home</a></li>
			<li><a rel="prefetch" href="/blog">Blog</a></li>
		</ul>
	</nav>
</header>
