---
import { Icon } from 'astro-icon';
---

<footer>
	<ul>
		<li>
			<a rel="prefetch" href="https://twitter.com/">
				<Icon name="fa-brands:twitter" role="img" aria-label="Twitter" />
			</a>
		</li>
		<li>
			<a rel="prefetch" href="https://github.com/">
				<Icon name="fa-brands:github" role="img" aria-label="GitHub" />
			</a>
		</li>
	</ul>
</footer>
